<ion-tabs>

  <ion-tab tab="lista">
    <ion-router-outlet name="lista"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="favoritos">
    <ion-router-outlet name="favoritos"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="lista" href="/tabs/(lista:lista)">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listado</ion-label>
    </ion-tab-button>



    <ion-tab-button tab="favoritos" href="/tabs/(favoritos:favoritos)">
      <ion-icon name="Star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
